
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #aeaeae;
}
.image-container{
  display: flex;
  flex-direction: row;
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
}

body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: row;
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
}

/* Set up the sidebar */
.sidebar {
  flex: 0 0 200px; /* Adjust as needed */
  background-color: #eee;
  padding: 20px;
}

header {
  background: linear-gradient(to top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
  color: #000000;
  padding: 10px;
  overflow: hidden; /* to contain floated elements */
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 10px;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  color: #000000;
  text-decoration: none;
  padding: 5px;
}

.header-left a {
  text-align: left;
}

.header-right nav {
  text-align: right;
}

.button-container {
  display: flex;
  gap: 10px; /* this sets the spacing between buttons */
}

.my-button {
  padding: 10px 20px; /* this sets the button size */
}
#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}
.background-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png");
  background-size: cover;
  width: 200px;
  height: 200px;
}
.shortened-background-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png");
  background-size: cover;
  width: 30px;
  height: 30px;
}
.header-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}